* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.main {
    display: flex;
}
.main-space{
    display: flex;
    justify-content: space-between;
}
.modal-btn{
    display: none;
}

/*common css responsive start*/


@media (min-width: 1800px)  {  
    .container{
        max-width: 1644px !important;
    }
}