// fonts variabels
$inter: 'Inter', sans-serif;
$lato:  'Lato', sans-serif;
$rufina:  'Rufina', serif;

// section gapes
$sectiongap: 100px;
$sectionpadding: 50px;
$titlebottomgap: 30px;



// color varibales
$color0: #000000;
$color1: #FFFFFF;

$color2: #233000;
$color3: #5E6600;
$color4: #9CAA00;
$color5: #EBF0E4;
$color6: #4D4D4D;
$color7: #B0B0B0;


// liner gradient colors

$color10:linear-gradient(177.59deg, rgba(35, 48, 0, 0.2) 2.02%, rgba(35, 48, 0, 0) 97.98%);

$color11:rgba(35, 48, 0,0.7);







