@import "../layout/navbar";
@import "../layout/header";
@import "../layout/footer";
@import "../component/menu-list";
@import "../component/blogelements";
@import "../component/reservation";
@import "../component/carousel";



#our-menu {
    position: relative;
    padding-top: 180px;
    padding-bottom: 200px;

    &:after {
        background: url(../images/homepage/leafs.png) no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        height: 455px;
        width: 885px;
        z-index: -1;

    }

    .title {
        width: 512px;
    }

    .main {
        justify-content: space-between;
    }
}

#ex-cook {
    background: $color5;
    padding-top: 220px;
    position: relative;

    &::after {
        background: url(../images/homepage/leaf1.svg) no-repeat;
        position: absolute;
        top: 148px;
        left: 102px;
        content: '';
        width: 407px;
        height: 372px;
    }

    &::before {
        background: url(../images/homepage/leaf2.svg) no-repeat;
        position: absolute;
        bottom: 55px;
        right: 130px;
        content: '';
        width: 506px;
        height: 432px;
    }

    .left {
        .cook-img {
            width: 952px;
            height: 933px;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .right {
        padding-left: 50px;
    }

}

#quality {
    padding: 200px 0;

    .main {
        justify-content: space-between;

        .box {
            width: 508px;
            text-align: center;

            .icon {
                width: 260px;
                height: 260px;
                border-radius: 50%;
                background: $color5;
                position: relative;
                margin: auto;

                img {
                    position: absolute;
                    width: 185px;
                    height: 185px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            h5 {
                color: $color0;
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }
    }
}

#blog-home {
    padding-top: 100px;
    padding-bottom: 150px;

    .blog-main {
        display: flex;
        justify-content: space-between;
    }
}

#menu-home {
    padding: 130px 0;

    .title {
        text-align: center;
        margin-bottom: 130px;

        h2 {
            width: 800px;
            margin: auto;
        }
    }

    .box {
        width: 508px;
        position: relative;



        .category-img {
            width: 508px;
            height: 710px;

            img {
                width: 100%;
                height: 100%;
            }

            .overlay {
                width: 100%;
                height: 250px;
                position: absolute;
                top: 0;
                left: 0;
                background: $color10;


            }
        }

        .menu-category {
            display: flex;
            justify-content: space-between;
            padding: 0 40px 0 40px;
            height: 100px;
            margin-top: 20px;
            align-items: center;

            p {
                color: $color2;

            }



        }
    }
}

@media (min-width: 320px) and (max-width: 379.98px) {
    #our-menu {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;

        .title {
            width: auto;
        }

        .main {
            justify-content: space-between;
            flex-direction: column-reverse;
        }
    }

    #ex-cook {
        padding-top: 20px;

        .main {

            flex-direction: column-reverse;
        }

        &::after {
            top: 230px;
            left: -15px;
            width: 130px;
            height: 100px;
            background-size: 130px, 100px;
        }

        &::before {
            bottom: 20px;
            right: 0;
            width: 100px !important;
            height: 100px !important;
            background-size: 130px, 100px !important;
        }

        .left {

            .cook-img {
                width: 100%;
                height: auto;
            }

        }

        .right {
            padding-left: 0;
            margin-bottom: 40px;
        }



    }

    #quality {
        padding: 20px 0;

        .main {
            justify-content: space-between;
            flex-direction: column;

            .box {
                width: 100%;
                margin-top: 60px;

                .icon {
                    width: 130px;
                    height: 130px;
                    margin: auto;

                    img {
                        width: 90px;
                        height: 90px;


                    }

                }

                h5 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #blog-home {
        padding-top: 80px;
        padding-bottom: 20px;

        .blog-main {
            flex-direction: column;
        }
    }


    #menu-home {
        padding: 60px 0;

        .title {
            margin-bottom: 80px;

            h2 {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        .box {
            width: 100%;
            margin-bottom: 30px;

            .category-img {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color10;


                }
            }

            .menu-category {
                display: flex;
                justify-content: space-between;
                padding: 0 40px 0 40px;
                height: 100px;
                align-items: center;

                p {
                    color: $color2;

                }

                a {
                    width: 30px;
                    height: 30px;
                }



            }
        }

        .main-space {
            flex-direction: column;
        }
    }
}

@media (min-width: 380px) and (max-width: 575.98px) {
    #our-menu {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;

        .title {
            width: auto;
        }

        .main {
            justify-content: space-between;
            flex-direction: column-reverse;
        }
    }

    #ex-cook {
        padding-top: 20px;

        .main {

            flex-direction: column-reverse;
        }

        &::after {
            top: 170px;
            left: -15px;
            width: 130px;
            height: 100px;
            background-size: 130px, 100px;
        }

        &::before {
            bottom: 20px;
            right: 0;
            width: 100px !important;
            height: 100px !important;
            background-size: 130px, 100px !important;
        }

        .left {

            .cook-img {
                width: 100%;
                height: auto;
            }

        }

        .right {
            padding-left: 0;
            margin-bottom: 40px;
        }



    }

    #quality {
        padding: 20px 0;

        .main {
            justify-content: space-between;
            flex-direction: column;

            .box {
                width: 100%;
                margin-top: 60px;

                .icon {
                    width: 130px;
                    height: 130px;
                    margin: auto;

                    img {
                        width: 90px;
                        height: 90px;


                    }

                }

                h5 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #blog-home {
        padding-top: 80px;
        padding-bottom: 20px;

        .blog-main {
            flex-direction: column;
        }
    }


    #menu-home {
        padding: 60px 0;

        .title {
            margin-bottom: 80px;

            h2 {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        .box {
            width: 100%;
            margin-bottom: 30px;

            .category-img {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color10;


                }
            }

            .menu-category {
                display: flex;
                justify-content: space-between;
                padding: 0 40px 0 40px;
                height: 100px;
                align-items: center;

                p {
                    color: $color2;

                }

                a {
                    width: 30px;
                    height: 30px;
                }



            }
        }

        .main-space {
            flex-direction: column;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #our-menu {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;

        &:after {
            background: url(../images/homepage/leafs.png) no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            height: 350px;
            width: 325px;
            z-index: -1;
            background-size: 330px;

        }

        .title {
            width: auto;
            margin-bottom: 20px;

            p {
                width: 340px;
            }
        }

        .main {
            justify-content: space-between;
            flex-direction: column;
        }
    }

    #ex-cook {
        padding-top: 80px;

        &::after {
            top: 56px;
            left: 0;
            width: 130px;
            height: 100px;
            background-size: 130px, 100px;
        }

        &::before {
            bottom: 0;
            right: 90px;
            width: 136px !important;
            height: 120px !important;
            background-size: 130px, 100px !important;
        }

        .left {

            .cook-img {
                width: 250px;
                height: 335px;
            }

        }

        .right {
            padding-left: 20px;
            margin-top: 10px;

            h2 {
                width: 142px;
            }
        }



    }

    #quality {
        padding: 20px 0;

        .main {
            justify-content: space-between;
            flex-direction: column;

            .box {
                width: 100%;
                margin-top: 60px;

                .icon {
                    width: 130px;
                    height: 130px;
                    margin: auto;

                    img {
                        width: 90px;
                        height: 90px;


                    }

                }

                h5 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

                p {
                    width: 300px;
                    margin: auto;
                }
            }
        }
    }

    #blog-home {
        padding-top: 80px;
        padding-bottom: 20px;


    }


    #menu-home {
        padding: 60px 0;

        .title {
            margin-bottom: 80px;

            h2 {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        .box {
            width: 160px;
            margin-bottom: 30px;
            height: 260px;

            .category-img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color10;


                }
            }

            .menu-category {
                display: flex;
                justify-content: space-between;
                padding: 0 5px 0 5px;
                height: 100px;
                align-items: center;
                margin-top: 0;

                p {
                    color: $color2;

                }

                a {
                    width: 30px;
                    height: 30px;
                }



            }
        }

    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #our-menu {
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;

        &:after {
            background: url(../images/homepage/leafs.png) no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            height: 350px;
            width: 415px;
            z-index: -1;
            background-size: 415px;

        }

        .title {
            width: auto;
            margin-bottom: 20px;

            p {
                width: 250px;
            }
        }

        .main {
            justify-content: space-between;

        }
    }

    #ex-cook {
        padding-top: 100px;

        &::after {
            top: 72px;
            left: 126px;
            width: 165px;
            height: 150px;
            background-size: 160px, 100px;
        }

        &::before {
            bottom: 9px;
            right: 120px;
            width: 223px !important;
            height: 185px !important;
            background-size: 196px, 116px !important;
        }

        .left {

            .cook-img {
                width: 370px;
                height: 400px;
            }

        }

        .right {
            padding-left: 20px;
            margin-top: 10px;

            h2 {
                width: 142px;
            }
        }



    }

    #quality {
        padding: 20px 0;

        .main {
            justify-content: space-between;

            .box {
                width: 100%;
                margin-top: 60px;

                .icon {
                    width: 130px;
                    height: 130px;
                    margin: auto;

                    img {
                        width: 90px;
                        height: 90px;


                    }

                }

                h5 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

                p {
                    width: 230px;
                    margin: auto;
                }
            }
        }
    }

    #blog-home {
        padding-top: 80px;
        padding-bottom: 20px;


    }


    #menu-home {
        padding: 60px 0;

        .title {
            margin-bottom: 80px;

            h2 {
                width: 400px;
                margin-bottom: 10px;
            }
        }

        .box {
            width: 220px;
            margin-bottom: 30px;
            height: 340px;

            .category-img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color10;


                }
            }

            .menu-category {
                display: flex;
                justify-content: space-between;
                padding: 0 20px 0 20px;
                height: 100px;
                align-items: center;
                margin-top: 0;

                p {
                    color: $color2;

                }

                a {
                    width: 30px;
                    height: 30px;
                }



            }
        }

    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #our-menu {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;

        &:after {
            background: url(../images/homepage/leafs.png) no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            height: 350px;
            width: 415px;
            z-index: -1;
            background-size: 415px;

        }

        .title {
            width: auto;
            margin-bottom: 20px;

            p {
                width: 250px;
            }
        }

        .main {
            justify-content: space-between;

        }
    }

    #ex-cook {
        padding-top: 120px;

        &::after {
            top: 95px;
            left: 25px;
            width: 207px;
            height: 184px;
            background-size: 201px, 100px;
        }

        &::before {
            bottom: 27px;
            right: 90px;
            width: 260px !important;
            height: 250px !important;
            background-size: 256px, 116px !important;
        }

        .left {

            .cook-img {
                width: 530px;
                height: 530px;
            }

        }

        .right {
            padding-left: 20px;
            margin-top: 10px;

            h2 {
                width: 142px;
            }

            p {
                width: 360px;
            }
        }



    }

    #quality {
        padding: 20px 0;

        .main {
            justify-content: space-between;

            .box {
                width: 100%;
                margin-top: 60px;

                .icon {
                    width: 130px;
                    height: 130px;
                    margin: auto;

                    img {
                        width: 90px;
                        height: 90px;


                    }

                }

                h5 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

                p {
                    width: 260px;
                    margin: auto;
                }
            }
        }
    }

    #blog-home {
        padding-top: 80px;
        padding-bottom: 20px;


    }


    #menu-home {
        padding: 60px 0;

        .title {
            margin-bottom: 80px;

            h2 {
                width: 400px;
                margin-bottom: 10px;
            }
        }

        .box {
            width: 290px;
            margin-bottom: 30px;
            height: 420px;

            .category-img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color10;


                }
            }

            .menu-category {
                display: flex;
                justify-content: space-between;
                padding: 0 20px 0 20px;
                height: 100px;
                align-items: center;
                margin-top: 0;

                p {
                    color: $color2;

                }

                a {
                    width: 30px;
                    height: 30px;
                }



            }
        }

    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    #our-menu {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;

        &:after {
            background: url(../images/homepage/leafs.png) no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            height: 350px;
            width: 500px;
            z-index: -1;
            background-size: 500px;

        }

        .title {
            width: auto;
            margin-bottom: 20px;

            p {
                width: 385px;
            }
        }

        .main {
            justify-content: space-between;

        }
    }

    #ex-cook {
        padding-top: 120px;

        &::after {
            top: 95px;
            left: 25px;
            width: 207px;
            height: 184px;
            background-size: 201px, 100px;
        }

        &::before {
            bottom: 15px;
            right: 90px;
            width: 332px !important;
            height: 276px !important;
            background-size: 299px, 116px !important;
        }

        .left {

            .cook-img {
                width: 570px;
                height: 580px;
            }

        }

        .right {
            padding-left: 30px;
            margin-top: 10px;

            h2 {
                width: 142px;
            }

            p {
                width: 470px;
            }
        }



    }

    #quality {
        padding: 80px 0;

        .main {
            justify-content: space-between;

            .box {
                width: 100%;
                margin-top: 60px;

                .icon {
                    width: 180px;
                    height: 180px;
                    margin: auto;

                    img {
                        width: 120px;
                        height: 120px;


                    }

                }

                h5 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

                p {
                    width: 330px;
                    margin: auto;
                }
            }
        }
    }

    #blog-home {
        padding-top: 80px;
        padding-bottom: 20px;


    }


    #menu-home {
        padding: 90px 0;

        .title {
            margin-bottom: 100px;

            h2 {
                width: 610px;
                margin-bottom: 10px;
            }
        }

        .box {
            width: 345px;
            margin-bottom: 30px;
            height: 500px;

            .category-img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color10;


                }
            }

            .menu-category {
                display: flex;
                justify-content: space-between;
                padding: 0 30px 0 30px;
                height: 100px;
                align-items: center;
                margin-top: 0;

                p {
                    color: $color2;

                }

                a {
                    width: 30px;
                    height: 30px;
                }



            }
        }

    }
}

@media (min-width: 1400px) and (max-width: 1799.98px) {
    #our-menu {
        position: relative;
        padding-top: 140px;
        padding-bottom: 140px;

        &:after {
            background: url(../images/homepage/leafs.png) no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            height: 350px;
            width: 560px;
            z-index: -1;
            background-size: 560px;

        }

        .title {
            width: auto;
            margin-bottom: 20px;

            p {
                width: 425px;
            }
        }

        .main {
            justify-content: space-between;

        }
    }

    #ex-cook {
        padding-top: 140px;

        &::after {
            top: 115px;
            left: 95px;
            width: 240px;
            height: 208px;
            background-size: 230px, 100px;
        }

        &::before {
            bottom: 15px;
            right: 89px;
            width: 356px !important;
            height: 310px !important;
            background-size: 335px, 116px !important;
        }


        .left {

            .cook-img {
                width: 700px;
                height: 650px;
            }

        }

        .right {
            padding-left: 30px;
            margin-top: 10px;

            h2 {
                width: 142px;
            }

            p {
                width: 525px;
            }
        }



    }

    #quality {
        padding: 80px 0;

        .main {
            justify-content: space-between;

            .box {
                width: 100%;
                margin-top: 60px;

                .icon {
                    width: 180px;
                    height: 180px;
                    margin: auto;

                    img {
                        width: 120px;
                        height: 120px;


                    }

                }

                h5 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

                p {
                    width: 370px;
                    margin: auto;
                }
            }
        }
    }

    #blog-home {
        padding-top: 80px;
        padding-bottom: 20px;


    }


    #menu-home {
        padding: 90px 0;

        .title {
            margin-bottom: 100px;

            h2 {
                width: 650px;
                margin-bottom: 10px;
            }
        }

        .box {
            width: 400px;
            margin-bottom: 30px;
            height: 570px;

            .category-img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color10;


                }
            }

            .menu-category {
                display: flex;
                justify-content: space-between;
                padding: 0 30px 0 30px;
                height: 100px;
                align-items: center;
                margin-top: 0;

                p {
                    color: $color2;

                }

                a {
                    width: 30px;
                    height: 30px;
                }



            }
        }

    }
}